
.mystyle {
    width: 100%;
    padding: 5px;
    background-color: coral;
    color: white;
    font-size: 25px;
    height: 300px;
  }


  .pageNumbers {
      list-style: none;
      display: flex;
  }
.pageNumbers li {
    padding: 10px;
    border: 1px solid black;
    cursor:pointer;
}